
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.homepage {
    display: flex;
    flex-direction: column;
    width: 100%;  
    height: 100vh; 
    box-sizing: border-box;
    padding-top: 120px; 
}


.navbar {
    display: none; /* Hidden by default */
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    padding: 10px;
    color: black; 
    width: 100%; 
    position: fixed; /* Fix it to the top of the page */
    top: 0; 
    left: 0; 
    z-index: 1000; 
    box-sizing: border-box;
}


@media (max-width: 768px) {
    .navbar {
        display: flex; 
    }

    .top-navbar,
    .secondary-navbar {
        display: none; 
    }
}


.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    padding: 10px;
    color: white;
    width: 100%; 
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 1000; 
    box-sizing: border-box;
}


.secondary-navbar {
    display: flex;
    justify-content: space-around;
    background-color: #292B5C;
    padding: 10px;
    color: white;
    width: 100%; 
    box-sizing: border-box;
    position: fixed;
    top: 60px;
    left: 0; 
    z-index: 999; 
}


.logout-button {
    background-color: rgb(0, 21, 255);
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}


.menu-button {
    background-color: transparent; 
    border: none;
    cursor: pointer;
}


.menu-items {
    display: none; 
}


.nav-items {
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}




.title {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0; 
}


.best-sellers-title {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0; 
    text-align: center; 
}





@media (max-width: 768px) {
    .secondary-navbar {
        display: none; 
    }

    .top-navbar {
        display: none; 
    }
    .book {
        width: calc(50% - 20px); 
    }
    
}


.book-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 20px; 
}


.book {
    width: calc(25% - 20px); 
    margin-bottom: 20px; 
    text-align: center; 
}


.book img {
    width: 160px; 
    height: 250px; 
    border-radius: 20px;
}

.author {
    margin-top: -8%;
    display: none;
}


@media (min-width: 769px) {
    .author {
        display: block; 
    }

    .book {
        width: calc(25% - 20px);
    }
}


@media (max-width: 768px) {
    .book {
        width: calc(50% - 20px);
    }
}


.search-bar {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 20px auto; 
    padding: 10px;
    border-radius: 25px;
    background-color: #F0F0F0;
    width: 80%; 
    max-width: 600px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}


.search-icon {
    width: 24px; 
    height: 24px;
    margin-right: 10px;
}


.search-input {
    border: none; 
    outline: none; 
    font-size: 16px;
    background-color: transparent; 
    width: 100%; 
}


.search-input:focus {
    border-bottom: 2px solid #000066; 
}


hr.divider-line {
    width: 80%; 
    height: 3px; 
    margin: 10px auto; 
    border-radius: 5px; 
}