/* Global root properties */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #ACCDFF !important;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.image-container {
    flex: none; 
    order: 0; 
    margin-right: 20px; 
}

.registration-image {
    width: 600.74px;
    height: 800.61px; 
}

/* Page layout */
.register-page {
    display: flex;
    align-items: center; 
    height: 100%; 
    padding-right: 50px; 
    width: 100%;
}

/* Container layout */
.register-container {
    padding: 40px;
    border-radius: 16px;
    width: 600%; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.breadwinners-title {
    display: none; 
}

/* Title and text */
.register-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #111111;
    margin-bottom: 8px;
}

.password-hint {
    color: #111111;
    text-align: left; 
    margin-top: 1px !important;
}

.footer-links {
    margin-top: 30px !important;
    color: #111111;
}

.welcome-text {
    font-size: 16px;
    color: #4B4B4B;
    margin-top: -5px;
}

/* Form layout */
.register-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.name-group {
    display: flex;
    gap: 16px; /* Spacing between the two boxes */
}

/* Input group styling */
.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%; 
}


.input-group label {
    font-size: 16px; 
    font-weight: 500;
    color: #111111;
    text-align: left; 
}


.input-group.first-name input {
    width: 48%; 
}

.input-group.last-name input {
    width: 48%; 
}

.input-group input {
    padding: 12px;
    font-size: 16px;
    background: #F5F5F5;
    border-radius: 8px;
    border: none;
    outline: none;
    color: #000000;
}

/* Register button */
.register-button {
    background-color: #111111;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: -10px !important;
}

.register-button:hover {
    background-color: #333333;
}

/* Media query for smaller screens (mobile) */
@media (max-width: 1180px) {
    .image-container {
        display: none; /* Hide the image container on smaller screens */
    }

    .register-page {
        justify-content: center; 
        padding-right: 0; 
    }

    .breadwinners-title {
        display: block;
        font-size: 42px;
        text-align: center; 
        margin-bottom: 50px; 
        color: #000000;
        font-family: Italiana;
    }
}